# Build output
lib/
dist/
build/

# Dependencies
node_modules/
.npm/

# TypeScript
*.tsbuildinfo

# Testing
coverage/
.jest/
*.test.*

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
._*
.DS_Store
.env
.env.*
!.example.env

# Project specific
launcher/
mock/
*.log
npm-debug.log*

# Misc
.backup/
.hidden
.nomedia
.git
.github
.gitattributes
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS

# Config files that should be version controlled
!tsconfig.json
!.babelrc.json
!.eslintrc.*
